* {
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

.nav-bar li {
    float: left;
    list-style: none;
}

.nav-bar li a {
    text-decoration: none;
    font-size: 30px;
    padding-left: 20px;
}

.volcano {
    text-align: center;
    grid-column: 1/4;
}

.container {
    padding-top: 7%;
    padding-left: 0%;
    padding-right: 0%;
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px 10px;
    background-color: cyan;
}

.grid-container div {
    background-color: rgba(65, 62, 62, 0.877);
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
    border: 1px solid rgba(211, 20, 36, 0.712);
    text-align: center;
}

footer {
    background-color: rgba(247, 203, 7, 0.952);
    color: white;
    text-align: center;
}

@media(max-width: 740px) {
    /* .nav-bar li {
        float: none;
    } */
    .nav-bar li a {
        font-size: 15px;
    }
    .volcano {
        grid-column: 1/3;
    }
    .grid-container div {
        margin: 0;
    }
    .grid-container {
        margin: 0;
        grid-template-columns: auto auto;
    }
    footer {
        font-size: 30px;
    }
}